<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMapConfig PUBLIC "-//ibatis.apache.org//DTD SQL Map Config 2.0//EN" "http://www.ibatis.com/dtd/sql-map-config-2.dtd">
<sqlMapConfig>
	<settings cacheModelsEnabled="true" enhancementEnabled="true"
		lazyLoadingEnabled="true" maxRequests="512" maxSessions="128"
		maxTransactions="32" useStatementNamespaces="false" />
	<sqlMap resource="${domainPath}/dao/impl/${table.getFirstUpperCamelCaseName()}DaoImpl.xml" />
</sqlMapConfig>
