package ${domainPkg}.domain;
import java.math.BigDecimal;
import java.util.Date;
/**
 * $project
 * 
 * $desc
 * 
 * $history:
 * 
 */
@SuppressWarnings("serial")
public class ${data.toUpperCase()}  {
#foreach( $c in $data.getColumns() )
	//${c.getComments()}
	private $c.getDataType() $c.toLowerCase() ;
#end

#foreach( $c in $data.getColumns() )
	/**
	 * ${get}${c.getComments()}
	 * @return
	 */
	public $c.getDataType() get$c.toUpperCase()() {
		return $c.toLowerCase();
	}
	/**
	 * ${set}${c.getComments()}
	 * @param $c.toLowerCase()
	 */	
	public void set$c.toUpperCase()($c.getDataType() $c.toLowerCase()) {
		this.$c.toLowerCase() = $c.toLowerCase();
	}
#end	
}